* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
:root{
  --background: #fff8f5;
  --color: #4a2e2c;
  --text: red;
  --theme: #e57373;
  --accent: yellow;

  --font-primary: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --font-secondary:  Georgia, 'Times New Roman', Times, serif;
}
body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: var(--color);
    color: var(--background);
    font-family: var(--font-primary);
}
#container {
  width: 100%;
  height: 100vh;
}
.debug{
  position: absolute;
  top: 20px;
  right: 20px;
  color: #fff8f5;
}